:root {
  /* Node background and borders */
  --color-node-bg: #fff;
  --color-node-border: #e5e7eb;           /* slate-200 */
  --color-node-selected-border: #8b92ae;
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width:100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: auto;
  -webkit-font-smoothing: auto;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  overflow: hidden;
}
